ErrorDocument 403 /error/index.php?code=404
 
RewriteEngine On
 
 RewriteRule "(\/vendor\/)" - [F]
 RewriteRule "(\/node_modules\/)" - [F]
 RewriteRule "(^|/)\.(?!well-known\/)" - [F]
 RewriteRule "(composer\.json)" - [F]
 RewriteRule "(\.lock)" - [F]
 RewriteRule "(\/environment.xml)" - [F]
 Options -Indexes
 RewriteRule "(\/install.xml)" - [F]
 RewriteRule "(\/README)" - [F]
 RewriteRule "(\/readme)" - [F]
 RewriteRule "(\/moodle_readme)" - [F]
 RewriteRule "(\/upgrade\.txt)" - [F]
 RewriteRule "(phpunit\.xml\.dist)" - [F]
 RewriteRule "(\/tests\/behat\/)" - [F]
 RewriteRule "(\/fixtures\/)" - [F]